body {
    font-family: "Microsoft YaHei", "Microsoft JhengHei", Arial, 'LiHei Pro', sans-serif;
    background-color: rgba(0,0,0,0.8);
}

#output {
    font-size: 16px;
    color: #eee;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 1px 1px 3px;
}

.display_name {
    font-weight: bold;
    color: #cc3;
}

.msg {
    padding-left: 3em;
    font-size: 30px;
}